.spots-container {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    margin-top: 10px;
    margin-bottom: 10px;

}

@media only screen and (max-width: 768px) {
    .spots-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 500px) {
    .spots-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width: 1400px) {
    .spots-container {
        grid-template-columns: repeat(4, 1fr);
    }
}


@media only screen and (min-width: 1600px) {
    .spots-container {
        grid-template-columns: repeat(6, 1fr);

    }
 
}
.spot-link {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.spot-link:hover {
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.card-text {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    align-items: center;
    text-decoration: none;
    font-family: cursive;
    
}

.card-text p {
    font-size: 14pt;
    font-weight: bold;
}

.stars-container {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    text-decoration: none;
    margin-bottom: 10px;
}

.spot-new {
    margin-bottom: 10px;
}


.spot-card {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    border: none;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
}

.spot-card:hover::before {
    content: attr(data-spot-name);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: darkgrey;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-family: cursive;
    box-shadow: 5px 5px 10px #333;

}


.spots-image {
    display: flex-box;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    
    
}

div {
    display: block;
}