.spots-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

@media only screen and (max-width: 768px) {
    .spots-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 480px) {
    .spots-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width: 1400px) {
    .spots-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
.spot-link {
    text-decoration: none;
    color: black;
}
.card-text {
    display: inline-block;
    text-decoration: none;
    font-family: cursive;
    padding: 10px;
}

.card-text p {
    font-size: 14pt;
    font-weight: bold;
}

.stars-container {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    text-decoration: none;
    margin-bottom: 10px;
}

.spot-new {
    margin-bottom: 10px;
}


.spot-card {
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.spot-card:hover::before {
    content: attr(data-spot-name);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: darkgrey;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-family: cursive;
}
.spots-image {
    display: flex-box;
    border-radius: 8px;
    width: 100%;
}

