.spot-form {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.spot-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 14pt;
}


.spot-form h4 {
    font-size: 12pt;
    font-weight: 200;
}

.spot-form h3 {
    font-size: 16pt;
    font-weight: light;

}

.spot-form input,
.spot-form textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    max-width: 550px
}


.city-state {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.city-state label {
    display: inline-block;
    width: 80%;
    margin-right: 4%;
}

.city-state input {
    width: 100%;
    max-width: 600px;
    padding: 8px;
    box-sizing: border-box;
}

.spot-form textarea {
    resize: vertical;
}

.spot-button {
    background-color: #ccc;
    color: white;
    font-size: 14pt;
    max-width: 200px;
    margin: auto;
}


.errors {
    color: red;
    font-size: 12pt;
    font-weight: bold;
}

.create-spot {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

.spot-form .section-1,
.spot-form .section-2,
.spot-form .section-3,
.spot-form .section-4,
.spot-form .section-5 {
    margin-bottom: 30px;
    border-bottom: 4px solid black;
}


