.hidden {
    display: none;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    margin-bottom: 50px;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.nav-button {
    margin-left: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14pt;
    color: #fff;
}

.home-image {
    display: flex;
    height: 70px;
    width: 60px;
}

.session-buttons {
    margin: 10px;
    display: flex; 
}

button {
    padding: 10px;
    background-color: #CCCCCC;
    color: #080808;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: black solid 3px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #333;
}



.session-signup {
    display: flex;
    margin: 10px;
}

.session-login {
    display: flex;
    margin-left: auto;
}


.signup-button {
    display: flex;
    padding: 10px;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px #333;
    border: black solid 3px;
    background-color: #CCCCCC;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
    cursor: pointer;
}

.signup-button:disbaled {
    opacity: 0.5;
}

.signup-modal{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    

}

.signup-errors {
    color: red;
    display: flex;
    align-items: flex-start;
    margin-right: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18pt;
    font-weight: bold;
}
    

.input {
    width: 100%;
    max-width: 300px;
    display: flex-box;
    overflow: auto;
    align-items: center;
    border: 3px solid black;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 14pt;
}

.label {
    display: flex-box;
    align-items: flex-start;
    margin-left: 50px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
}

.login-modal{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login-input {
    width: 100%;
    max-width: 300px;
    display: flex-box;
    overflow: auto;
    align-items: center;
    border: 3px solid black;
    border-radius: 4px;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 14pt;
}

.login-button {
    display: flex;
    padding: 5px;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px #333;
    border: black solid 3px;
    background-color: #CCCCCC;
    color: #080808;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    text-align: center;
    cursor: pointer;
}

.login-button:disbaled {
    cursor: not-allowed;
}

.login-errors {
    color: red;
    display: flex;
    align-items: flex-start;
    margin-right: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18pt;
    font-weight: bold;
}

.login-errors-ul {
    display: flex;
    align-items: flex-start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.demo-user {
    display: flex;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
}



.signup-button {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.signup-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24pt;
    font-weight: bold;
}


.profile-button {
    padding: 10px;
    background-color: #ccc;
    color: #080808;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: black solid 3px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #333;
}

.profile-dropdown {
    list-style: none;
    background-color: white;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100px;
    right: 8px;
    width: 125px;
    z-index: 1000;
    flex-direction: column; /* Align items vertically */
    align-items: center;
    justify-content: center;
}

.profile-dropdown li, .profile-dropdown a {
    text-align: center;
    margin-bottom: 8px;
    margin-right: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: #080808;
}

.profile-dropdown a:hover {
    color: #f76f6d;
}






