


.hidden {
    display: none;
}



.nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    margin-bottom: 50px;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.nav-button {
    margin-left: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14pt;
    color: #fff;
}

.home-image {
    display: flex;
    height: 70px;
    width: 60px;
}

.session-buttons {
    margin: 10px;
    display: flex;

    

}

button {
    padding: 10px;
    background-color: #CCCCCC;
    color: white;
    font-family: cursive;
    font-weight: bold;
    border-radius: 5px;
    border: black solid 3px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #333;
}



.session-signup {
    display: flex;
    margin: 10px;
}

.session-login {
    display: flex;
    margin-left: auto;
}


.signup-button {
    display: flex;
    padding: 10px;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    text-indent: 105px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px #333;
    border: black solid 3px;
    background-color: #CCCCCC;
    color: white;
    font-family: cursive;
    font-size: 14pt;
    cursor: pointer;
}

.signup-button:disbaled {
    opacity: 0.5;
}

.signup-modal{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    

}

.signup-errors {
    color: red;
    display: flex;
    align-items: flex-start;
    margin-right: 40px;
    font-family: cursive;
    font-size: 18pt;
    font-weight: bold;
}
    

.input {
    width: 100%;
    max-width: 300px;
    display: flex-box;
    overflow: auto;
    align-items: center;
    border: 3px solid black;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: cursive; 
    font-size: 14pt;
}

.label {
    display: flex-box;
    align-items: flex-start;
    margin-left: 50px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: cursive;
    font-size: 14pt;
}

.login-modal{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login-input {
    width: 100%;
    max-width: 300px;
    display: flex-box;
    overflow: auto;
    align-items: center;
    border: 3px solid black;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: cursive; 
    font-size: 14pt;
}

.login-button {
    display: flex;
    padding: 10px;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    text-indent: 120px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px #333;
    border: black solid 3px;
    background-color: #CCCCCC;
    color: white;
    font-family: cursive;
    font-size: 14pt;
    cursor: pointer;
}

.login-button:disbaled {
    opacity: 0.5;
}

.login-errors {
    color: red;
    display: flex;
    align-items: flex-start;
    margin-right: 40px;
    font-family: cursive;
    font-size: 18pt;
    font-weight: bold;
}
 
.login-errors-ul {
    display: flex;
    align-items: flex-start;
    font-family: cursive;
}

.demo-user {
    display: flex;
    margin-bottom: 20px;
    font-family: cursive;
    font-size: 14pt;
}



.signup-button {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14pt;
    font-family: cursive;
}

.signup-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24pt;
    font-weight: bold;
    font-family: cursive;
}


.outer-buttons {
    font-family: cursive;
    display: flex;
    gap: 10px;
    padding: 5px;
    align-items: center;
    text-decoration: none;
    font-style: none;
}

.inner-buttons {
    font-family: cursive;
}