.hidden {
    display: none;
}


.signup-modal{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.input {
    width: 80%;
    display: flex-box;
    overflow: auto;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.label {
    display: flex-box;
    align-items: flex-start;
    margin-left: 50px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;

}

.login-modal{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login-input {
    width: 100%;
    max-width: 300px;
    display: flex-box;
    overflow: auto;
    align-items: center;
    border: 3px solid black;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: cursive; 
}

.login-button {
    display: flex;
    padding: 10px;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    text-indent: 120px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px #333;
    border: black solid 3px;
    background-color: red;
    color: white;
    font-family: cursive;
    font-size: 14pt;
}

.login-errors {
    color: red;
    display: flex;
    align-items: flex-start;
    margin-right: 40px;
    font-family: cursive;
    font-size: 18pt;
    font-weight: bold;
}
 
.login-errors-ul {
    display: flex;
    align-items: flex-start;
    font-family: cursive;
}

.demo-user {
    display: flex;
    margin-bottom: 20px;
    font-family: cursive;
}



.signup-button {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.signup-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24pt;
}